body {background: white;}

.pics {
  padding: 30px;
  margin: 40px;
  border: 20px;
  border-color: green;
  border-style: solid;
}

#quote {
  border: 30px;
  width: 200px;
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
}
